<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CampusBuzz - Chatbot</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type="image/png" href="./sitelogo.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap" rel="stylesheet">
</head>
<body>
  <video autoplay muted loop playsinline class="bg-video">
    <source src="./92680-637275034_medium.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="chat-container">
    <h1>CampusBuzz</h1>
    <div id="chat-box"></div>
    <div class="input-container">
      <input type="text" id="user-input" placeholder="Pucho Putra...">
      <button onclick="sendMessage()"><img src="./send button4.png" class="btnimg"></button>
    </div>
    <div class="note-text">
      <p>CampusBuzz can make mistakes. So please Maaf karna agar kuch idhar udhar bata diya toh!!</p>
    </div>
  </div>
  <script src="./script.js"> </script>
</body>
</html>
